body {
    background: white;
    overflow-x: hidden;
}

.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url("assets/images/Free Photo _ Japandi living room interior design.jpg");
    background-size: cover;
}

.hero-section>.hero-content {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section>.hero-content>section {
    margin-top: 100px;
}

.hero-section>.hero-content>section>p {
    font-size: 1.3rem;
}

.hero-section>.hero-content>section>.name>h1 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background: -webkit-linear-gradient(#f77a1b, #b35209, #612c04);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 7rem;
    margin: 0;
}

/*<<<<<<< HEAD*/
/*.main {
=======
.main {
>>>>>>> spa
    margin-top: 100px;
}

.main>h1 {
    margin-bottom: 80px;
    margin-left: 100px;
}

.main>section {
    width: 80rem;
    margin-left: 100px;
}

.main>section>div {
<<<<<<< HEAD
    !*width: 650px;*!
=======
    /*width: 650px;*/
/*>>>>>>> spa
}*/

.main>section>.main-table {
    width: 80rem;
    margin-top: 80px;
    margin-bottom: 120px;
}

/*<<<<<<< HEAD
=======*/
/*.main>section>div>.main-content {
    padding: 30px;
    border-radius: 30px;
    background: rgb(247,225,208);
    background: linear-gradient(0deg, rgba(247,225,208,1) 8%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 68%, rgba(247,225,208,1) 92%);
}*/

/*.main>section>div>.main-table {
    padding: 30px;
    border-radius: 30px;
    background: rgb(247,225,208);
    background: linear-gradient(0deg, rgba(247,225,208,1) 8%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 68%, rgba(247,225,208,1) 92%);
}*/

/*>>>>>>> spa*/
.order {
    margin-top: 100px;
}

.order>h1 {
    margin-bottom: 80px;
    margin-left: 100px;
}

.order>.order-customer {
    margin-left: 100px;
}

.order>.item {
    margin-left: 100px;
}

.order>.table-section {
    width: 1300px;
    margin-top: 80px;
    margin-left: 120px;
}

/*<<<<<<< HEAD*/
.order>.cart {
    margin-top: 50px;
    margin-left: 500px;
}/*/
*/
/*
@media all and (max-width: 1440px) and (min-width: 1024px){
    !*.hero-section>section>.hero-content>.name>h1 {
=======
/*.order>.table-section>.cart-table {
    margin-top: 50px;
    margin-left: 100px;
    padding: 30px;
    border-radius: 30px;
    background: rgb(247,225,208);
    background: linear-gradient(0deg, rgba(247,225,208,1) 8%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 68%, rgba(247,225,208,1) 92%);
}*/

.order>.cart {
    margin-top: 50px;
    margin-left: 500px;
}

@media all and (max-width: 1440px) and (min-width: 1024px){
    /*.hero-section>section>.hero-content>.name>h1 {
>>>>>>> spa
        font-size: 6.5rem;
    }

    .hero-section>section>.hero-content>p {
        margin-left: 0;
        font-size: 1.1rem;
    }

    .main>h1 {
        margin-bottom: 80px;
        margin-left: 150px;
    }

    .main>section>.main-form {
        margin-left: 320px;
        margin-bottom: 120px;
    }

    .main>section>.main-table1 {
        width: 1200px;
        margin-left: 20px;
        margin-bottom: 120px;
    }

    .order>h1 {
        margin-bottom: 80px;
        margin-left: 150px;
    }

    .order>.order-customer {
        margin-left: 200px;
    }

    .order>.item {
        margin-left: 200px;
        margin-bottom: 80px;
    }

    .order>.table-section {
        width: 1200px;
        margin-left: 120px;
<<<<<<< HEAD
    }*!
=======
    }*/
/*>>>>>>> spa*/

    html {
        font-size: 100%;
    }
}

@media all and (max-width: 1024px) and (min-width: 768px){
/*<<<<<<< HEAD
    !**/.hero-section>section>.hero-content {
=======
    /*.hero-section>section>.hero-content {
>>>>>>> spa
        margin-top: 130px;
    }

    .hero-section>section>.hero-content>.name>h1 {
        font-size: 4rem;
        margin-left: 30px;
    }

    .hero-section>section>.hero-content>p {
        margin-left: 30px;
        font-size: 1rem;
    }

    .hero-section>section>.hero-image>img {
        margin-left: 10px;
        margin-top: 30px;
        width: 400px;
    }

    .main>h1 {
        margin-bottom: 80px;
        margin-left: 150px;
    }

    .main>section>.main-form {
        margin-left: 120px;
        margin-bottom: 120px;
    }

    .main>section>.main-table1 {
        width: 900px;
        margin-left: 0;
        margin-bottom: 120px;
    }

    .order>h1 {
        margin-bottom: 80px;
        margin-left: 150px;
    }

    .order>.order-customer {
        margin-left: 200px;
    }

    .order>.item {
        margin-left: 200px;
        margin-bottom: 80px;
    }

    .order>.table-section {
        width: 900px;
        margin-left: 60px;
<<<<<<< HEAD
    }*!
=======
    }*/
/*>>>>>>> spa*/

    html {
        font-size: 70%;
    }
}

@media all and (max-width: 768px) and (min-width: 425px){
/*<<<<<<< HEAD
    !*.hero-section>section>.hero-content {*/
=======
    /*.hero-section>section>.hero-content {
>>>>>>> spa
        margin-top: 80px;
    }

    .hero-section>section>.hero-content>.name>h1 {
        font-size: 3.2rem;
        margin-left: 20px;
    }

    .hero-section>section>.hero-content>p {
        margin-left: 20px;
        font-size: 0.8rem;
    }

    .hero-section>section>.hero-image>img {
        margin-left: 10px;
        margin-top: 10px;
        width: 300px;
    }

    .main>h1 {
        margin-bottom: 80px;
        margin-left: 100px;
    }

    .main>section>.main-form {
        margin-left: 20px;
        margin-bottom: 120px;
    }

    .main>section>.main-table1 {
        width: 700px;
        margin-left: 0;
        margin-bottom: 120px;
    }

    .order>h1 {
        margin-bottom: 80px;
        margin-left: 100px;
    }

    .order>.order-customer {
        margin-left: 100px;
    }

    .order>.item {
        margin-left: 100px;
        margin-bottom: 80px;
    }

    .order>.table-section {
        width: 700px;
        margin-left: 60px;
<<<<<<< HEAD
    }*!
=======
    }*/
/*>>>>>>> spa*/

    html {
        font-size: 60%;
    }
}

@media all and (max-width: 425px) and (min-width: 375px){
/*<<<<<<< HEAD*/
    .hero-section>.hero-content {
/*=======*/
    /*.hero-section>.hero-content {
>>>>>>> spa
        margin-top: 80px;
    }

    .hero-section>.hero-content>section>.name>h1 {
        font-size: 2rem;
        margin-left: 0;
    }

    .hero-section>section>.hero-content>p {
        margin-left: 0;
        font-size: 0.5rem;
    }

    .hero-section>section>.hero-image>img {
        margin-left: 0;
        margin-top: 10px;
        width: 50px;
    }

    .main>h1 {
        margin-bottom: 80px;
        margin-left: 50px;
    }

    .main>section>.main-form {
        margin-left: 20px;
        margin-bottom: 80px;
    }

    .main>section>.main-table1 {
        width: 300px;
        margin-left: 0;
        margin-bottom: 120px;
    }

    .order>h1 {
        margin-bottom: 80px;
        margin-left: 50px;
    }

    .order>.order-customer {
        margin-left: 50px;
    }

    .order>.item {
        margin-left: 10px;
        margin-bottom: 80px;
    }

    .order>.table-section {
        width: 400px;
        margin-left: 60px;
    }

    .order>.cart {
        margin-top: 50px;
        margin-left: 50px;
<<<<<<< HEAD
    }*!
=======
    }*/
/*>>>>>>> spa*/

    html {
        font-size: 30%;
    }
}

@media all and (max-width: 375px) and (min-width: 325px){
    html {
        font-size: 30%;
    }
}

@media all and (max-width: 325px) {
    html {
        font-size: 30%;
    }

}}}


/*<<<<<<< HEAD
}*!
=======
}
>>>>>>> spa*/
