body {
    background: white;
    overflow-x: hidden;
}

.navigationBar {
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbarIcon {
    border: none;
    font-size: 1.25rem;
}

.navbarIcon:focus {
    box-shadow:  none;
    outline: none;
}

.navTopic {
    color: #6B0101;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.navTopic:hover, .navTopic.active {
    color: lightsalmon;
}

.navTopic::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: black;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.navTopic:hover::before {
    width: 100%;
    visibility: visible;
}

.homeImg {
    margin-left: 2rem;
    width: 2rem;
}

.hero-section {
    background: url("assets/images/Free Photo _ Japandi living room interior design.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-section::before {
    background: rgb(255,238,228);
    background: radial-gradient(circle, rgba(255,238,228,0.25) 20%, rgba(255,238,228,0.25) 37%, rgba(0,0,0,0.66) 94%);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.hero-section>.hero-content {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section>.hero-content>section {
    margin-top: 150px;
}

.hero-section>.hero-content>section>p {
    font-size: 1.5rem;
    font-weight: 480;
}

.hero-section>.hero-content>section>.name>h1 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background: -webkit-linear-gradient(#f77a1b, #b35209, #612c04);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 7.5rem;
    margin: 0;
}

.card {
    margin-top: 150px;
}

.main>.main-table {
    margin-top: 80px;
}

.order>.cart-table {
    margin-top: 80px;
}

@media all and (max-width: 1440px) and (min-width: 1024px){
    html {
        font-size: 100%;
    }
}

@media all and (max-width: 1024px) and (min-width: 768px){
    html {
        font-size: 70%;
    }

    .navigationBar {
        height: 60px;
    }

    .navTopic {
        font-size: 2rem;
    }

    .homeImg {
        width: 3rem;
    }

    .hero-section>.hero-content>section>p {
        font-size: 1.65rem;
    }

    .hero-section>.hero-content>section>.name>h1 {
        font-size: 8rem;
    }
}

@media all and (max-width: 768px) and (min-width: 425px){
    html {
        font-size: 60%;
    }

    .navigationBar {
        height: 60px;
    }

    .navbarIcon {
        font-size: 2.75rem;
        margin-right: 10px;
    }

    .homeImg {
        width: 3rem;
    }

    .hero-section>.hero-content>section>p {
        font-size: 1.85rem;
        font-weight: 450;
    }

    .hero-section>.hero-content>section>.name>h1 {
        font-size: 9rem;
    }
}

@media all and (max-width: 740px) and (min-width: 425px){
    .hero-section>.hero-content>section>p {
        font-size: 1.18rem;
        font-weight: 500;
    }

    .hero-section>.hero-content>section>.name>h1 {
        font-size: 6.75rem;
    }
}

@media all and (max-width: 425px) and (min-width: 375px){
    html {
        font-size: 30%;
    }

    .navigationBar {
        height: 55px;
        margin-right: 40px;
        margin-left: 40px;
    }

    .navbarIcon {
        font-size: 4.50rem;
        margin-right: 10px;
    }

    .homeImg {
        width: 4.75rem;
        margin-left: 20px;
    }

    .hero-section>.hero-content>section>p {
        font-size: 2.15rem;
        font-weight: 500;
    }

    .hero-section>.hero-content>section>.name>h1 {
        font-size: 13rem;
    }
}

@media all and (max-width: 375px) and (min-width: 325px){
    html {
        font-size: 30%;
    }

    .navigationBar {
        height: 55px;
        margin-right: 40px;
        margin-left: 40px;
    }

    .navbarIcon {
        font-size: 4.50rem;
        margin-right: 10px;
    }

    .homeImg {
        width: 4.75rem;
        margin-left: 20px;
    }

    .hero-section>.hero-content>section>p {
        font-size: 1.85rem;
        font-weight: 700;
    }

    .hero-section>.hero-content>section>.name>h1 {
        font-size: 10rem;
    }
}

@media all and (max-width: 325px) {
    html {
        font-size: 30%;
    }

    .navigationBar {
        height: 48px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .navbarIcon {
        font-size: 4.75rem;
        margin-right: 10px;
    }

    .homeImg {
        width: 5rem;
        margin-left: 20px;
    }

    .hero-section>.hero-content>section>p {
        font-size: 1.62rem;
        font-weight: 700;
    }

    .hero-section>.hero-content>section>.name>h1 {
        font-size: 10rem;
    }
}
